<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <title>Docker dashboard</title>
</head>
<body>
    <div class="container">
    <h1>Docker dashboard</h1>

    <input id="exec-cmd" class="form-control form-control-sm" type="text" placeholder=".form-control-sm" aria-label=".form-control-sm example" value="Teste">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for container in containers %}
                    <tr>
                    <th scope="row">{{ container.index }}</th>
                    <td>{{ container.name }}</td>
                    <td>
                        <a class="btn btn-primary docker-event" href="#" data-url="/docker?name={{container.name}}&action=logs">Logs</a>
                        <a class="btn btn-success docker-event" href="#" data-url="/docker?name={{container.name}}&action=start">Start</a>
                        <a class="btn btn-danger docker-event" href="#" data-url="/docker?name={{container.name}}&action=stop">Stop</a>
                        <a class="btn btn-warning docker-event" href="#" data-url="/docker?name={{container.name}}&action=restart">Restart</a>
                        <a class="btn btn-dark docker-event" href="#" data-url="/docker?name={{container.name}}&action=exec">Exec</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- <p id="content"></p> -->
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea class="form-control" id="content" rows="20"></textarea>
        </div>
    
    </div>

<!-- DockerDashboard -->
<script src="{{ url_for('static', path='main.js') }}"></script>

<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>